<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form action="users/process" method="post">
      <input type="text" name="word">
      <input type="submit" value="Process">
    </form>
  </body>
</html>
